fastapi==0.115.4
uvicorn==0.32.0
numpy==1.23.5  # Ensure compatibility with TensorFlow 2.11 on ARM
tensorflow
# tensorflow-cpu-aws==2.11.0  # CPU version for ARM architecture
# tensorflow-macos==2.11.0  # Optimized for Apple Silicon
# tensorflow-metal==0.6.0  # Optional: GPU acceleration with Metal on M1/M2
pydantic==2.9.2